[project]
name = "dalab"
description = ""
version = "1.0.0"
license = {file = "LICENSE"} 
# classifiers = [
#     # For OS-independent nodes (works on all operating systems)
#     "Operating System :: OS Independent",
#
#     # OR for OS-specific nodes, specify the supported systems:
#     "Operating System :: Microsoft :: Windows",  # Windows specific
#     "Operating System :: POSIX :: Linux",  # Linux specific
#     "Operating System :: MacOS",  # macOS specific
#
#     # GPU Accelerator support. Pick the ones that are supported by your extension.
#     "Environment :: GPU :: NVIDIA CUDA",    # NVIDIA CUDA support
#     "Environment :: GPU :: AMD ROCm",       # AMD ROCm support
#     "Environment :: GPU :: Intel Arc",      # Intel Arc support
#     "Environment :: NPU :: Huawei Ascend",  # Huawei Ascend support
#     "Environment :: GPU :: Apple Metal",    # Apple Metal support
# ]

dependencies = ["# qwenllm", "openai", "# utils,animate", "opencv-python", "# feishu", "lark-oapi", "# dwpose", "matplotlib", "# florence2", "timm", "#index_tts2", "librosa", "omegaconf", "json5", "munch", "modelscope", "accelerate", "descript-audiotools", "WeTextProcessing", "wetext", "#cosyvoice3", "hyperpyyaml", "onnxruntime-gpu", "openai-whisper", "conformer", "diffusers", "hydra-core", "lightning", "gdown", "x_transformers", "wget", "pyarrow", "pyworld", "torchcodec", "inflect", "#voxcpm15", "funasr", "# accelerate", "# transformers", "# tokenizers", "# #git+https://github.com/descriptinc/audiotools", "# cn2an", "# ffmpeg-python", "# Cython", "# g2p-en", "# jieba", "# json5", "# keras", "# munch", "# numba", "# numpy", "# pandas", "# matplotlib", "# opencv-python", "# tensorboard", "# librosa", "# safetensors", "# modelscope", "# omegaconf", "# sentencepiece", "# tqdm", "# textstat", "# pynini==2.1.6; platform_system!=\"Windows\"", "# WeTextProcessing>=1.0.3; platform_system!=\"Windows\"", "# WeTextProcessing; platform_machine != \"Darwin\"", "# wetext; platform_system == \"Darwin\"", "# wetext; platform_system == \"Windows\"", "# # cosyvoice", "# hyperpyyaml", "# onnxruntime", "# openai-whisper", "# conformer", "# diffusers", "# hydra-core", "# gdown", "# wget", "# lightning", "# x_transformers", "# pyarrow", "# pyworld", "# torchcodec", "# # voxcpm15", "# addict", "# funasr", "# datasets>=3,<4", "# simplejson", "# sortedcontainers"]

[project.urls]
Repository = "git@github-new:dauncle2026/ComfyUI-DALab"
#  Used by Comfy Registry https://registry.comfy.org
Documentation = "git@github-new:dauncle2026/ComfyUI-DALab/wiki"
"Bug Tracker" = "git@github-new:dauncle2026/ComfyUI-DALab/issues"

[tool.comfy]
PublisherId = ""
DisplayName = "ComfyUI-DALab"
Icon = ""
includes = [] 
# "requires-comfyui" = ">=1.0.0"  # ComfyUI version compatibility

