# qwenllm
openai

# utils,animate
opencv-python

# feishu
lark-oapi

# dwpose
matplotlib

# florence2
timm

#index_tts2
librosa
omegaconf
json5
munch
modelscope
accelerate
descript-audiotools
WeTextProcessing
wetext

#cosyvoice3
hyperpyyaml
onnxruntime-gpu
openai-whisper
conformer
diffusers
hydra-core
lightning
gdown
x_transformers
wget
pyarrow
pyworld
torchcodec
inflect

#voxcpm15
funasr